.benefits__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// .benefits__list {

// }

.benefits__item:not(:last-child) {
    margin-bottom: 30px;
}

.benefits__box {
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;

}

.benefits__topic {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
}

.benefits__about {
 
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em
    
}

