.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-white-color;
        margin-top: 60px;
        margin-bottom: 20px;
    }
}




