.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;

    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.backdrop.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    transform: scale(0.1);
 

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
    background-color: $primary-white-color;
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    
     
//     @media screen and (max-width: 480px) {
//        width: calc(100% - 30px);
 
//    }

    @media screen and (max-width: 1140px) {
        width: calc(100% - 30px);
        max-width: 450px;
    }

     @media screen and (min-width: 1140px) {
        width: 528px;
     }


}




.bid__close {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $title-text-color;
    

    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    background-color: $primary-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    fill: $title-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.bid {
    padding: 40px;
    display: flex;
    flex-direction: column;

}


.bid__title {
    margin-bottom: 12px;
   
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-text-color;

    @media screen and (min-width: 1140px) {
        line-height: 1.15;
     }
}


.bid__field {
    position: relative;
        margin-bottom: 10px;


}


.bid__label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: $primary-text-color;


}

.bid__input {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    
}

.bid__icon {
    display: inline-block;
    position: absolute;
    bottom: 7px;
    left: 14px;
    fill: $title-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   
}

.bid__input:focus,
.bid__input:hover,
.bid__texterea:focus,
.bid__texterea:hover {
    border-color: $accent-color;
    
}

.bid__input:focus + .bid__icon,
.bid__close:hover,
.bid__close:focus {
    fill: $accent-color;
}

.bid__input:focus,
.bid__texterea:focus {
    outline: none;
}

.bid__coment {
    position: relative;
    
}


.bid__texterea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

}

.bid__checkbox {
    margin-top: 20px;
    position: relative;
    margin-bottom: 30px;
  

}

.bid__checkbox--hid {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.bid__checkicon {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 15px;
    fill: transparent;
    border: 1px solid $title-text-color;
    border-radius: 2px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

     @media screen and (min-width: 1140px) {
        left: 12px;
     }
}

.bid__policy {

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    margin-left: 24px;

    @media screen and (min-width: 1140px) {
        margin-left: 36px;
        font-size: 14px;
        line-height: 1.71;
     }
    
}

.bid__checkbox--hid:checked + .bid__checkicon {
    fill: $accent-color;

}


.bid__border {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: -1px;
}


.bid__pact {
    color: $accent-color;
    text-decoration: underline;
}

.button {
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
